.hero {
    background-color: var(--accent-one);
    background: url(/assets/img/hero.jpg) 50% 50% / cover;
    width: 100%;
    height: 300px;
    transition: var(--transition);
}

h1 {
    font-size: 1.3rem;
    text-align: center;
    color: var(--font-coac);
    font-weight: 300;
    text-shadow: 2px 5px 10px #000;
    font-family: 'Cinzel Decorative', cursive;
    transition: var(--transition);
    line-height: 1.5;
}

.hero span:after {
    content: "";
    margin: 0px 5px;
    box-shadow: 0 0 5px;
    border: solid 1px #fff;
    animation: cursorBlinking 1s infinite ease-in;
}

@keyframes cursorBlinking {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@media all and (min-width: 500px) {
    .hero {
        height: 450px;
    }
    h1 {
        font-size: 2rem;
    }
}

@media all and (min-width: 1000px) {
    .hero {
        height: 600px;
        background-attachment: fixed;
    }
    h1 {
        font-size: 3.5rem;
    }
}