.about_content {
    margin: 0 auto;
    max-width: 550px;
    padding: 40px 20px 10px;
}

.about_content p {
    font-size: 16px;
    font-weight: 400;
    color: var(--font-cobg);
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: .01rem;
}

.social-media {
    display: flex;
    justify-content: space-around;
    max-width: 200px;
    margin: 20px auto;
}

.social-media svg {
    width: 24px;
    height: 24px;
    fill: var(--font-cobg);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.social-media svg:hover {
    fill: var(--accent-two);
    transform: scale(2);
}