.about_content {
    margin: 0 auto;
    max-width: 550px;
    padding: 20px;
}

.about_content p {
    font-size: 1.05rem;
    font-weight: 300;
    color: #595769;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: .01rem;
}