.headbar {
    background-color: var(--accent-one);
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    margin: 0;
    color: #fff;
}

.wrapper {
    padding: 0 0.5em;
}

.page_title {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.ribbon {
    background-color: var(--accent-one);
    /*background: url(/assets/img/hero.jpg) 50% 70% / cover;*/
    width: 100%;
    height: 300px;
    flex-shrink: 0;
}

.page {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}

.page_in {
    background: #fff;
    max-width: 1050px;
    margin: 0 auto;
    margin-top: -180px;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.page_close {
    float: right;
}

.page_close svg {
    fill: #fff;
}

.viewinfor {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.is-active {
    opacity: 1;
}

img {
    width: 100%;
}

.gohome {
    float: left;
    margin: 13px 5px;
}

.openlink {
    position: fixed;
    z-index: 500;
    right: 50px;
    bottom: 50px;
}

.openlink svg {
    fill: var(--font-coac);
    width: 20px;
    height: 20px;
}

.openlink .btn {
    background-color: var(--accent-two);
    color: var(--font-coac);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@media all and (min-width: 500px) {
    .ribbon {
        height: 350px;
    }
}

@media all and (min-width: 1000px) {
    .ribbon {
        height: 400px;
    }
}