.notre {
    position: relative;
}

.notify {
    background: #4aa950;
    position: fixed;
    z-index: 500;
    bottom: 0;
    opacity: 0;
    transform: translateX(-400px);
    border-radius: 3px;
    margin: 20px;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.isOpen {
    transform: translateX(0);
    opacity: 1;
}

.content {
    float: left;
    color: #fff;
}

p {
    margin: 0;
    padding: 20px;
    max-width: 300px;
}

button {
    float: right;
    padding: 24px;
    color: #fff;
    background: #4aa950;
    box-shadow: none;
}