<section id="edit" class="edit">
    <div class="panel">
        <h4>Add New Portfolio</h4>
    </div>
    <div class="content">
        <textarea class="content_item input" [value]="markedit" [(ngModel)]="markedit" (keyup)="getContent()" placeholder="Add New Portfolio Here"></textarea>
        <div id="output" class="content_item output" [innerHTML]="markedit|MarkdownToHtml"></div>
    </div>
    <button class="btn add_btn" type="button" (click)="addNew()">
        <svg viewBox="0 0 24 24">
            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
        </svg>
    </button>
</section>