.panel {
    background: var(--accent-one);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: #fff;
}

.panel h4 {
    padding: 10px;
    margin: 0;
    color: inherit;
}

.content {
    display: flex;
}

.content_item {
    width: 50%;
    min-height: 500px;
    height: 85vh;
}

.input {
    padding: 1.1em 10px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 400;
    letter-spacing: 0.2px;
}

.output {
    padding: 0 10px;
    overflow: scroll;
    word-wrap: break-word;
    height: 89vh;
}

.add_btn {
    background: var(--accent-two);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.add_btn svg {
    width: 35px;
}

.add_btn svg path {
    fill: #fff;
}