/* You can add global styles to this file, and also import other style files */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --accent-one: #673AB7;
    --accent-two: #4CAF50;
    --bg-color: #ecf0f1;
    --font-cobg: #6b7c93;
    --font-coac: #fff;
    --link-color: #09a0f6;
    --transition: all .3s ease-in-out;
}

html,
body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--font-cobg);
}

.centerItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    position: relative;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}

.shadow {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.35), inset 0 0 0 2px rgba(255, 255, 255, 0.1), inset 0 2px 0 0 rgba(255, 255, 255, 0.45), inset 0 -2px 0 0 rgba(255, 255, 255, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0);
}

blockquote {
    border-left: 4px solid #6a7e95;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

a {
    color: var(--link-color);
    font-weight: normal;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
    margin-top: 0px;
    display: block;
}

ul,
ol {
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 0px;
    margin-left: 30px;
}

ul a,
ol a {
    color: var(--font-cobg);
}

ul li,
ol li {
    line-height: 28px;
    color: var(--font-cobg);
    list-style: disc;
}

ul li:hover a,
ol li:hover a {
    color: var(--link-color);
}

small {
    color: #6a7e95;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    color: #526475;
    display: block;
    margin-bottom: 20px;
    margin-top: 0px;
}

h1 {
    font-size: 36px;
    line-height: 50px;
}

h2 {
    font-size: 32px;
    line-height: 46px;
}

h3 {
    font-size: 28px;
    line-height: 42px;
}

h4 {
    font-size: 24px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 34px;
}

h6 {
    font-size: 16px;
    line-height: 30px;
}

code {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #f1f5fa;
    color: #09a0f6;
}

code {
    padding-left: 6px;
    padding-right: 6px;
}

pre {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: calc(100% - 30px);
    padding: 14px;
    line-height: 28px;
}

pre {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f1f5fa;
    color: #526475;
}

pre {
    overflow-x: auto;
}

.truncat {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    display: inline-block;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 0;
}

img[alt="cardimg"] {
    display: none;
}

.header {
    text-align: center;
    font-weight: 300;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2rem;
    color: var(--font-cobg);
    margin-bottom: 70px;
    margin-top: 50px;
    position: relative;
}

.header:before {
    content: '';
    display: block;
    width: 80%;
    position: absolute;
    bottom: -25px;
    left: 50%;
    margin-left: -40%;
    height: 1px;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.2) 0, rgba(255, 255, 255, 0) 75%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0, rgba(255, 255, 255, 0) 75%);
}

p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.btn {
    padding: 8px 10px;
    background: rgba(158, 158, 158, .2);
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.btn:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
}

.btn:focus,
.btn:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.fadeIn {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.is-active {
    opacity: 1;
}

img {
    width: 100%;
}