.card {
    position: relative;
    margin: 20px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none;
    color: var(--font-cobg);
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

.card .darker {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 2px;
    transition: all 0.3s ease-in-out;
}

.card img {
    filter: blur(0px);
    overflow: hidden;
    transition: all 0.7s ease-in-out;
}

.card:hover img,
.card:focus img {
    filter: blur(10px);
}

.card_title {
    position: absolute;
    z-index: 10;
    bottom: 25%;
    left: 10px;
    right: 0;
}

.title {
    font-size: 15px;
    color: #fff;
    padding: 5px 40px 5px 5px;
}

.card_btn {
    padding: 10px;
    text-align: center;
    position: relative;
    background: #fff;
    z-index: 10;
}

.card:hover,
.card:focus {
    transform: scale(1.05);
    outline: none;
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

.card:hover .darker,
.card:focus .darker {
    background: rgba(0, 0, 0, 0.7);
}

@media all and (min-width: 500px) {
    .card {
        width: 40%;
    }
}

@media all and (min-width: 1000px) {
    .card {
        width: 20%;
    }
}