<h2 class="header">Stay in touch</h2>
<section id="contact" class="contact">
    <div class="wrapper">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
            <div class="yname_group">
                <input id="yname" formControlName="name" type="text" name="name" placeholder="Your Name">
            </div>
            <div class="yemail_group">
                <input id="yemail" formControlName="email" type="email" required name="email" placeholder="Your Email">
            </div>
            <div class="ymessage_group">
                <textarea id="ymessage" formControlName="message" name="message" placeholder="Your Message"></textarea>
            </div>
            <div class="btncon">
                <button type="submit" class="btn submit_btn" [disabled]="!contactForm">Send Message</button>
            </div>
        </form>
    </div>
</section>
<app-kg-notify [message]="message" [update]="update"></app-kg-notify>