.contact {
    position: relative;
    overflow: hidden
}

form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    color: var(--font-cobg);
    padding-bottom: 80px;
    position: relative;
    z-index: 3;
}

input,
textarea {
    width: 100%;
    border: none;
    padding: 8px;
    outline: none;
    font-size: 13px;
    margin: 10px 0;
    border-radius: 3px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.73);
    transform: translateY(0px);
    transition: var(--transition);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

textarea {
    min-height: 200px;
    resize: none;
}

input:focus,
textarea:focus {
    transform: translateY(-3px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

.submit_btn {
    background: var(--accent-two);
    color: #fff;
}

.submit_btn:focus {
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

.kerron {
    display: none;
}

@media all and (min-width: 500px) {}

@media all and (min-width: 1000px) {
    .kerron {
        position: absolute;
        display: block;
        width: 500px;
        z-index: 1;
        bottom: -30px;
        left: -100px;
    }
}