.avatar {
    height: 80px;
    transform: translateY(-40px);
}

.avatar_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--accent-two);
    transition: var(--transition);
}

@media all and (min-width: 500px) {
    .avatar {
        height: 100px;
        transform: translateY(-60px);
    }
    .avatar_img {
        width: 210px;
        height: 210px;
    }
}

@media all and (min-width: 1000px) {
    .avatar {
        height: 140px;
        transform: translateY(-80px);
    }
    .avatar_img {
        width: 275px;
        height: 275px;
    }
}